# --- FRONTEND ---
# Kütüphane klasörü (Yüzlerce megabayttır, asla gitmemeli)
node_modules/
dist/
build/
.env

# --- BACKEND (JAVA) ---
# Maven'ın derlediği kodlar (Sürekli değişir, gitmemeli)
target/
*.class

# --- IDE (INTELLIJ) ---
# Senin kişisel pencere ve proje ayarların
.idea/
*.iml
out/

# --- DİĞER ---
# Geçici dosyalar
.DS_Store
Thumbs.db